.ripple-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  animation: ripple-animation 3s ease-in-out infinite;
  width: 100px;
  height: 100px;
  z-index: -1;
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.art-volume-inner {
  border-radius: 15px;
}

.art-state {
  transition: 0s none !important;
}

.bg-visible {
  background-color: #2c2c2c !important;
}
