@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --color-text-primary: #2b2b2b;
    --color-text-secondary: #7b7b7b;
    --color-text-tertiary: white;

    --button-height: 32px;
    --button-icon-size: 16px;
    --button-font-size: 13px;
    --button-big-font-size: 1.5em;
    --button-corner-radius: 8px;
    --button-big-corner-radius: 12px;
    --button-padding: 0 12px;
    --button-gap: 4px;
    --button-big-height: 1;
    --button-big-padding: 18px 25px;

    --media-brand: 245 245 245;
    --media-focus: 78 156 246;

    --plyr-color-main: #fff !important;
  }

  .dark {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 0% 13%;
    --accent-foreground: 60 0% 100%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --chart-1: 359 2% 90%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Supreme Bold";
  src: url(/fonts/Supreme-Bold.otf);
}
@font-face {
  font-family: "Supreme Light";
  src: url(/fonts/Supreme-Light.otf);
}
@font-face {
  font-family: "Supreme Medium";
  src: url(/fonts/Supreme-Medium.otf);
}
@font-face {
  font-family: "Supreme Regular";
  src: url(/fonts/Supreme-Regular.otf);
}
@font-face {
  font-family: "Supreme ExtraBold";
  src: url(/fonts/Supreme-Extrabold.otf);
}
@font-face {
  font-family: "Supreme ExtraLight";
  src: url(/fonts/Supreme-Extralight.otf);
}
@font-face {
  font-family: "Supreme Thin";
  src: url(/fonts/Supreme-Thin.otf);
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: "General Sans SemiBold";
  src: url(/fonts/GeneralSans-Semibold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Supreme Regular";
  box-sizing: border-box;
  color: var(--color-text-primary);
}

html {
  height: 100%;
  width: 100%;
}

body {
  /* background: #0f1012; */
  background: #fff;
  top: 0;
  left: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

.bold {
  font-family: "Supreme Bold";
}

.med {
  font-family: "Supreme Medium";
}
.light {
  font-family: "Supreme Light";
}
.reg {
  font-family: "Supreme Regular";
}
.thin {
  font-family: "Supreme Thin";
}

.sf {
  font-family: "SF Pro Display Medium";
}

.sans {
  font-family: "General Sans SemiBold";
}

.text-secondary {
  color: var(--color-text-secondary);
}
.btn {
  font-family: "Supreme Medium";
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  height: var(--button-height);
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-corner-radius);
  background-color: #0275ff;
  color: var(--color-text-tertiary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(2, 117, 255, 0.204) 0px 0.722625px 1.87882px -1.16667px,
    rgba(2, 117, 255, 0.184) 0px 2.74624px 7.14022px -2.33333px,
    rgba(2, 117, 255, 0.09) 0px 12px 31.2px -3.5px;
}

.btn-secondary {
  font-family: "Supreme Medium";
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  height: var(--button-height);
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-corner-radius);
  background-color: #f5f5f5;
  border: none;
  color: var(--color-text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
}

.btn-big {
  font-family: "Supreme Medium";
  font-size: var(--button-big-font-size);
  line-height: var(--button-big-height);
  gap: var(--button-gap);
  padding: var(--button-big-padding);
  border-radius: var(--button-big-corner-radius);
  background-color: #0275ff;
  color: var(--color-text-tertiary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(2, 117, 255, 0.204) 0px 0.722625px 1.87882px -1.16667px,
    rgba(2, 117, 255, 0.184) 0px 2.74624px 7.14022px -2.33333px,
    rgba(2, 117, 255, 0.09) 0px 12px 31.2px -3.5px;
}

.btn-secondary-big {
  font-family: "Supreme Medium";
  font-size: var(--button-big-font-size);
  line-height: var(--button-big-height);
  gap: var(--button-gap);
  padding: var(--button-big-padding);
  border-radius: var(--button-big-corner-radius);
  background-color: #f5f5f5;
  border: none;
  color: var(--color-text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
}

strong {
  color: var(--color-text-primary);
}

.btn:hover {
  background-color: #1c4ed8;
  color: white !important;
}

.btn-big:hover {
  background-color: #1c4ed8;
  color: white !important;
}

.boxshadow {
  box-shadow: rgba(181, 181, 181, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
}

::placeholder {
  color: var(--color-text-secondary);
}

.logistic-ease {
  transition: all 1s cubic-bezier(0.5, 0, 0, 1);
}

.smallboxshadow {
  box-shadow: rgba(255, 255, 255, 0.254) 0px 0.722625px 1.87882px -1.16667px,
    rgba(255, 255, 255, 0.234) 0px 2.74624px 7.14022px -2.33333px,
    rgba(255, 255, 255, 0.14) 0px 12px 31.2px -3.5px;
}

.primary {
  color: var(--color-text-primary);
}
